<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client />
		<diagnostics performanceCounters="Default" />
		<services>
   <service name="ChatService.ChatService">
    <endpoint address="net.tcp://192.168.88.185:8888" binding="netTcpBinding"
     name="netTcp" contract="ChatService.IChat">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://192.168.88.185:8888/ChatTcpService" />
     </baseAddresses>
    </host>
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="errorHandler" type="ChatService.ErrorHandlerElement, ChatService" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
</configuration>